@page "/Customers"
@using csproekt.Entities
@using csproekt.Data

<div class="table-container">
    <table class="table table-bordered">
        <thead>
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Address</th>
            <th scope="col">Phone</th>
            <th scope="col">Actions</th>
        </tr>
        </thead>
        <tbody>
        @{
            foreach (var customer in customers as IEnumerable<Customer>)
            {
                <tr>
                    <th scope="row">@customer.Id</th>
                    <td>@customer.Name</td>
                    <td>@customer.Address</td>
                    <td>@customer.Phone</td>
                    <td>
                        <div class="actions">
                            <a href="/customers/@customer.Id">
                                <div class="edit">
                                    <img src="assets/icons8-pencil-drawing-24.png" alt="Edit" title="Edit"/>
                                </div>
                            </a>
                            <div class="delete" @onclick="@(_ => DeleteCustomer(customer.Id))">
                                <img src="assets/icons8-multiply-24.png" alt="Delete" title="Delete"/>
                            </div>
                        </div>
                    </td>
                </tr>
            }
        }
        <tr>
            <th scope="row">
                <input @bind="InputId" type="text" class="form-control edit-input" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </th>
            <td>
                <input @bind="InputName" type="text" class="form-control edit-input" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </td>
            <td>
                <input @bind="InputAddress" type="text" class="form-control edit-input" aria-label="Default" aria-describedby="inputGroup-sizing-default">

            </td>
            <td>
                <input @bind="InputPhone" type="text" class="form-control edit-input" aria-label="Default" aria-describedby="inputGroup-sizing-default">

            </td>
            <td>
                <div class="actions">
                    <div class="create" @onclick="CreateCustomer">
                        <img src="assets/icons8-tick-24.png" alt="Create" title="Create"/>
                    </div>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
</div>

@code {
    private List<Customer>? customers;

    private string InputId { get; set; }
    private string InputName { get; set; }
    private string InputAddress { get; set; }
    private string InputPhone { get; set; }

    protected override void OnInitialized()
    {
        using var context = new ProjectContext();
        customers = context.Customers.Select(c => c).ToList();
    }

    private void DeleteCustomer(string customerId)
    {
        using var context = new ProjectContext();
        context.Customers.Remove(new Customer {Id = customerId});
        context.SaveChanges();
        customers = context.Customers.Select(c => c).ToList();
    }

    private void CreateCustomer()
    {
        using var context = new ProjectContext();
        var newCustomer = new Customer {Id = InputId, Address = InputAddress, Name = InputName, Phone = InputPhone};
        context.Customers.Add(newCustomer);
        context.SaveChanges();
        customers = context.Customers.Select(c => c).ToList();
        InputAddress = InputId = InputName = InputPhone = "";
    }

}